:host {
  display: inline-block;
  vertical-align: middle;
  flex-shrink: 0;
}

.badge-container {
  display: flex;
  align-items: center;
  background: rgba(255, 255, 255, 0.1);
  padding: 4px 4px;
  border-radius: 15px;
  gap: 1px;
  height: 30px;
  border: 1px solid rgba(255, 255, 255, 0.1);
  transition: all 0.2s;
  width: auto; /* Allow it to shrink */
  max-width: fit-content;
}

.badge-container:hover {
  background: rgba(255, 255, 255, 0.15);
  border-color: rgba(255, 255, 255, 0.2);
}

.prefix {
  font-size: 13px;
  font-weight: 500;
  color: rgba(255, 255, 255, 0.5);
  user-select: none;
  margin-right: -2px;
}

.icon-stack {
  position: relative;
  width: 18px;
  height: 24px; /* Slightly taller for the vertical buttons */
  display: flex;
  align-items: center;
  justify-content: center;
}

.stepper-controls {
  display: flex;
  flex-direction: column;
  position: absolute;
  opacity: 0;
  pointer-events: none;
  transition: opacity 0.15s ease;
}

.badge-container:hover .stepper-controls {
  opacity: 1;
  pointer-events: auto;
}

.badge-container:hover .main-icon {
  opacity: 0;
}

.step-btn {
  background: none;
  border: none;
  color: white;
  padding: 0;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 12px;
  opacity: 0.6;
}

.step-btn:hover {
  opacity: 1;
  color: #3b82f6; /* Highlight color when hovering the specific arrow */
}

.val-input {
  border: none;
  background: transparent;
  color: white;
  /*min-width: 20px;*/
  width: 22px;
  /*max-width: 45px;*/
  flex-shrink: 0;
  padding: 0;
  margin: 0;
  font-size: 13px;
  font-weight: 600;
  text-align: center;
  outline: none;
  -webkit-appearance: none;
  -moz-appearance: textfield; /* Firefox remove arrows */

  &:focus {
    color: #3b82f6; /* Subtle glow when typing */
  }
  &.wide-val {
    width: 38px;
  }
}

/* Remove arrows from number input */
.val-input::-webkit-outer-spin-button,
.val-input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}


