<div class="auth-wrapper">
  @if (authService.user(); as user) {
    <ng-container>
      <div class="profile-trigger" (click)="toggleMenu($event)" [class.active]="showMenu" [class.offline-mode]="authService.isOfflineMode()">
        <img [src]="user.photoURL" (error)="handleImageError($event, user)" class="avatar">
        @if (authService.isOfflineMode()) {
          <div class="status-indicator offline" title="Offline Mode"></div>
        }
      </div>

      @if (showMenu) {
       <div class="menu-card">
         <div class="menu-header">
          <img [src]="user.photoURL"
               (error)="handleImageError($event, user)"
               alt="Profile"
               class="avatar-large">
          <div class="user-details">
            <div class="name-row">
              <span class="name">{{ user.displayName }}</span>
              @if (authService.isOfflineMode()) {
                <span class="offline-tag">Offline</span>
              }
            </div>
            <span class="email">{{ user.email }}</span>
          </div>
        </div>

        <div class="menu-divider"></div>

        <button class="menu-item" (click)="authService.logout()">
          <lucide-icon [name]="LogOut" class="icon-left"></lucide-icon>
          Sign out
        </button>
       </div>
      }
    </ng-container>
  } @else {
    <button class="google-signin-btn" (click)="handleLogin()">
      <img src="https://www.gstatic.com/firebasejs/ui/2.0.0/images/auth/google.svg" alt="G" class="google-icon">
      <span>Sign in</span>
    </button>
  }
<!--  <ng-template #loggedOut>-->
<!--    <button class="google-signin-btn" (click)="handleLogin()">-->
<!--      <img src="https://www.gstatic.com/firebasejs/ui/2.0.0/images/auth/google.svg" alt="G" class="google-icon">-->
<!--      <span>Sign in</span>-->
<!--    </button>-->
<!--  </ng-template>-->
</div>
