<div class="date-picker-wrapper" #triggerEl [class.disabled]="disabled()">

  <div class="date-btn" (click)="open()" [class.disabled]="disabled()">
<!--    <lucide-icon name="calendar" [size]="13" class="cal-icon"></lucide-icon>-->
    @if (!hasValue()) {
      <lucide-icon name="calendar" [size]="13" class="cal-icon"></lucide-icon>
    }
    @else if (mode() !== 'datetime-range') {
      <span class="date-label" [class.placeholder]="!hasValue()">
        {{ displayLabel() }}
      </span>
    } @else {
      <div class="datetime-display">

        @if (isSameDay(departure(), arrival())) {
          <span class="date-text">{{ formatDate(departure()!) }}</span>

          <div class="time-editor" (click)="$event.stopPropagation()">
            <input type="text" maxlength="2" [value]="formatPart(departure()?.getHours())"
                   (blur)="updateTimePart($event, 'h', $any($event.target).value, 'departure')">
            <span>:</span>
            <input type="text" maxlength="2" [value]="formatPart(departure()?.getMinutes())"
                   (blur)="updateTimePart($event, 'm', $any($event.target).value, 'departure')">
          </div>

          <span class="arrow">-</span>

          <div class="time-editor" (click)="$event.stopPropagation()">
            <input type="text" maxlength="2" [value]="formatPart(arrival()?.getHours())"
                   (blur)="updateTimePart($event, 'h', $any($event.target).value, 'arrival')">
            <span>:</span>
            <input type="text" maxlength="2" [value]="formatPart(arrival()?.getMinutes())"
                   (blur)="updateTimePart($event, 'm', $any($event.target).value, 'arrival')">
          </div>
        }

        @else {
          <span class="date-text">{{ formatDate(departure()!) }}</span>

          <div class="time-editor" (click)="$event.stopPropagation()">
            <input type="text" maxlength="2" [value]="formatPart(departure()?.getHours())"
                   (blur)="updateTimePart($event, 'h', $any($event.target).value, 'departure')">
            <span>:</span>
            <input type="text" maxlength="2" [value]="formatPart(departure()?.getMinutes())"
                   (blur)="updateTimePart($event, 'm', $any($event.target).value, 'departure')">
          </div>

          <span class="arrow">-</span>

          <span class="date-text">{{ formatDate(arrival()!) }}</span>

          <div class="time-editor" (click)="$event.stopPropagation()">
            <input type="text" maxlength="2" [value]="formatPart(arrival()?.getHours())"
                   (blur)="updateTimePart($event, 'h', $any($event.target).value, 'arrival')">
            <span>:</span>
            <input type="text" maxlength="2" [value]="formatPart(arrival()?.getMinutes())"
                   (blur)="updateTimePart($event, 'm', $any($event.target).value, 'arrival')">
          </div>
        }
      </div>
    }
  </div>

  <div class="hidden-inputs-container" aria-hidden="true">
    <input [matDatepicker]="singlePicker" [value]="value()" (dateChange)="onSingleChange($event.value)" class="hidden-input-bridge" />
    <mat-date-range-input [rangePicker]="rangePicker" class="hidden-input-bridge">
      <input matStartDate [value]="mode() === 'date-range' ? start() : departure()" (dateChange)="onRangeStartChange($event.value)" />
      <input matEndDate [value]="mode() === 'date-range' ? end() : arrival()" (dateChange)="onRangeEndChange($event.value)" />
    </mat-date-range-input>
  </div>

  <mat-datepicker #singlePicker></mat-datepicker>
  <mat-date-range-picker #rangePicker (closed)="onPickerClosed()"></mat-date-range-picker>
</div>
