
<div class="search-layout-wrapper"
     [style.left.px]="uiService.isMobile() ? 12 : uiService.sidePanelWidth() + 12"
     [class.is-hidden]="uiService.isMobile() && uiService.isSidebarOpen()">
<!--     [class.sheet-expanded]="uiService.isMobile() && uiService.isSidebarOpen()">-->
  <div class="search-container" [class.expanded]="uiService.isSearchExpanded()">

    <button class="search-toggle-btn" (click)="$event.stopPropagation(); toggleSearch()">
      <lucide-icon [name]="SearchIcon" [size]="18" color="white"></lucide-icon>
    </button>

    <div class="search-input-wrapper" [class.show]="uiService.isSearchExpanded()">
      <div #searchWrapper class="search-wrapper"></div>
    </div>
  </div>

  @if (uiService.isSearchExpanded()) {
    <div class="custom-mode-btn-wrapper">
      <button
        class="custom-mode-btn"
          [class.active]="uiService.isCustomSearchActive()"
          (click)="toggleCustomMode()">
        <lucide-icon name="crosshair" [size]="18" [color]="uiService.isCustomSearchActive() ? '#007AFF' : 'white'">></lucide-icon>
      </button>
    </div>
  }
</div>
