<div class="viewport-container">
  @if (uiService.isLoading()) {
    <app-loading-spinner></app-loading-spinner>
  }

  @if (tripService.trip() && tripService.plan()) {
    <app-side-panel></app-side-panel>
  }

  <app-map></app-map>

  <div class="ui-overlay">
    @if (tripService.trips() && !uiService.drawingState().active) {
      <app-trip-bubble></app-trip-bubble>
    }

<!--    <div class="selection-card" *ngIf="(authService.user$ | async) && !(tripService.activeTrip$ | async) && !(tripService.loading$ | async)">-->
<!--      <h2>Your Journeys</h2>-->
<!--      <p>Select a trip to view your plans and pins.</p>-->

<!--      <div class="trip-grid">-->
<!--        <div class="trip-item"-->
<!--             *ngFor="let trip of tripService.userTrips$ | async"-->
<!--             (click)="openTrip(trip.id)">-->
<!--          <div class="trip-icon">🗺️</div>-->
<!--          <div class="trip-details">-->
<!--            <span class="trip-name">{{ trip.name }}</span>-->
<!--            <span class="trip-meta">View plans</span>-->
<!--          </div>-->
<!--          <div class="arrow">→</div>-->
<!--        </div>-->
<!--      </div>-->

<!--      <button class="btn-create">-->
<!--        <span class="plus">+</span> Start a New Trip-->
<!--      </button>-->
<!--    </div>-->

    <app-auth-widget></app-auth-widget>
  </div>
</div>
