<div>
  <div
    class="marker-pill"
    [class.hovered]="isHovered()"
    [class.compact]="hasNoItineraryVisits() || isZoomLow()"
    [class.no-itinerary-visits]="hasNoItineraryVisits()">
    @let visits = sortedVisits();

    @if (!isHovered() && (!visits.length || isZoomLow())) {
  <!--    <span class="total-nights">{{ totalNights() }}</span>-->
    } @else {
      @for (visit of visits; track visit.id; let last = $last) {
        <span class="night-count"
              [class.zero-nights]="visit.nights() === 0"
              [class.single-visit]="visits.length === 1"
              [class.itinerary]="!!visit.entryDate()"
              [class.excluded]="!visit.included()"
              [class.active]="uiService.selectedVisit()?.id === visit.id || uiService.hoveredVisit()?.id === visit.id"
              (click)="handleVisitClick($event, visit)">

          {{ visit.nights() === 0 ? '·' : visit.nights() }}

          @if (visit.nights() > 0 && visit.entryDate() !== null && visit.included()) {
            <div class="status-indicator" [class]="getBookingStatus(visit)"></div>
          }
        </span>

        @if (!last || isHovered() || isSelected()) {
          <div class="marker-divider"></div>
        }
      }

      @if (isHovered() || isSelected()) {
        <span class="night-count add-btn" (click)="handleAddClick($event)">+</span>
      }
    }
  </div>
</div>
