<div>
  <div class="marker-pill">
    @let v = place().visits();
    @if (!isHovered() && (!v || v.length === 0 || isZoomLow())) {
<!--      <span class="night-count">.</span>-->
    } @else {
      @for (visit of v; track $index) {
        <span class="night-count" (click)="handleVisitClick($event, visit)">{{ visit.nights() }}</span>

        @if (!$last || isHovered() || isSelected() || false) {
          <div class="marker-divider"></div>
        }
      }

      @if (isHovered() || isSelected() || false) {
        <span class="night-count" (click)="handleAddClick($event)">+</span>
      }
    }
  </div>
</div>
