/* You can add global styles to this file, and also import other style files */

@import "tailwindcss";

html, body {
  margin: 0;
  padding: 0;
}

/* Global styles.css or MapComponent css */

/* Remove default Mapbox styling to show our glass */
/*.apple-glass-popup .mapboxgl-popup-content {*/
/*  background: rgba(30, 30, 35, 0.7) !important;*/
/*  backdrop-filter: blur(25px) saturate(180%);*/
/*  -webkit-backdrop-filter: blur(25px) saturate(180%);*/
/*  border: 0.5px solid rgba(255, 255, 255, 0.2);*/
/*  border-radius: 18px !important;*/
/*  padding: 0 !important; !* Let our component handle padding *!*/
/*  box-shadow: 0 15px 35px rgba(0, 0, 0, 0.5);*/
/*}*/

/*!* Hide the default close button if you didn't disable it in JS *!*/
/*.apple-glass-popup .mapboxgl-popup-close-button {*/
/*  display: none;*/
/*}*/

/*!* Match the triangle pointer to the glass color *!*/
/*.apple-glass-popup .mapboxgl-popup-tip {*/
/*  border-top-color: rgba(30, 30, 35, 0.7) !important;*/
/*}*/
