<button #trigger="cdkOverlayOrigin" cdkOverlayOrigin
        class="icon-btn"
        (click)="toggle()"
        [title]="triggerTooltip()">
  <lucide-icon [name]="triggerIcon()" [size]="18"></lucide-icon>
</button>

<ng-template
  cdkConnectedOverlay
  [cdkConnectedOverlayOrigin]="trigger"
  [cdkConnectedOverlayOpen]="isOpen()"
  [cdkConnectedOverlayPositions]="overlayPositions()"
  [cdkConnectedOverlayHasBackdrop]="true"
  [cdkConnectedOverlayPush]="true"
  [cdkConnectedOverlayViewportMargin]="12"
  cdkConnectedOverlayBackdropClass="cdk-overlay-transparent-backdrop"
  (backdropClick)="close()"
  (detach)="close()">

  <div class="options-dropdown">
    @for (action of visibleActions(); track action) {
      <div class="manage-item simple-select"
           [class]="resolveClassName(action)"
           [class.disabled]="!!resolveDisabledReason(action)"
           [attr.aria-disabled]="!!resolveDisabledReason(action)"
           [title]="resolveTitle(action)"
           (click)="handleClick(action)">
        <lucide-icon [name]="resolveIcon(action)" [size]="16"></lucide-icon>
        <span class="destination">{{ resolveLabel(action) }}</span>
      </div>
    }
  </div>
</ng-template>