@if (map(); as map) {
  <app-map-search [map]="map"></app-map-search>
}

<div #mapContainer id="map-container"
     class="map-container"
     [class.visible]="isMapVisible()">
</div>

@if (tripService.selectedPlace(); as selectedPlace) {
  <app-place-popup
    [place]="selectedPlace"
    (onSave)="handlePlaceSave($event)"
    (onDelete)="handlePlaceDelete($event)">
  </app-place-popup>
}

@if (!tripService.selectedPlace() && tripService.selectedRoute(); as selectedRoute) {
  <app-route-popup
    [route]="selectedRoute"
    (onSave)="handleRouteSave($event)"
    (onDelete)="handleRouteDelete($any($event))">
  </app-route-popup>
}

@if (!tripService.selectedPlace() && !tripService.selectedRoute() && !hoveredRoute() && hoveredPlace()) {
  <app-place-tooltip [place]="hoveredPlace"></app-place-tooltip>
}

@if (!tripService.selectedPlace() && !tripService.selectedRoute() && !hoveredPlace() && hoveredRoute()) {
  <app-route-tooltip [route]="hoveredRoute"></app-route-tooltip>
}

<div style="position: absolute; left: -9999px;">
  @if (tripService.trip(); as trip) {
    @for (place of trip.placesArray(); track place.id) {
      <app-place-marker
        [place]="place"
        [zoom]="zoom">
      </app-place-marker>
    }
  }
</div>
